---
# defaults file for ansible_role_setup_vsftpd
# taken from the Debian 11 vsftpd.conf(5)
# Boolean options
allow_anon_ssl={{ tronde_vsftpd_allow_anon_ssl }}
anon_mkdir_write_enable={{ tronde_vsftpd_anon_mkdir_write_enable }}
anon_other_write_enable={{ tronde_vsftpd_anon_other_write_enable }}
anon_upload_enable={{ tronde_vsftpd_anon_upload_enable }}
anon_world_readable_only={{ tronde_vsftpd_anon_world_readable_only }}
anonymous_enable={{ tronde_vsftpd_anonymous_enable }}
ascii_download_enable={{ tronde_vsftpd_ascii_download_enable }}
ascii_upload_enable={{ tronde_vsftpd_ascii_upload_enable }}
async_abor_enable={{ tronde_vsftpd_async_abor_enable }}
background={{ tronde_vsftpd_background }}
check_shell={{ tronde_vsftpd_check_shell }}
chmod_enable={{ tronde_vsftpd_chmod_enable }}
chown_uploads={{ tronde_vsftpd_chown_uploads }}
chroot_list_enable={{ tronde_vsftpd_chroot_list_enable }}
chroot_local_user={{ tronde_vsftpd_chroot_local_user }}
connect_from_port_20={{ tronde_vsftpd_connect_from_port_20 }}
debug_ssl={{ tronde_vsftpd_debug_ssl }}
delete_failed_uploads={{ tronde_vsftpd_delete_failed_uploads }}
deny_email_enable={{ tronde_vsftpd_deny_email_enable }}
dirlist_enable={{ tronde_vsftpd_dirlist_enable }}
dirmessage_enable={{ tronde_vsftpd_dirmessage_enable }}
download_enable={{ tronde_vsftpd_download_enable }}
dual_log_enable={{ tronde_vsftpd_dual_log_enable }}
force_dot_files={{ tronde_vsftpd_force_dot_files }}
force_anon_data_ssl={{ tronde_vsftpd_force_anon_data_ssl }}
force_anon_logins_ssl={{ tronde_vsftpd_force_anon_logins_ssl }}
force_local_data_ssl={{ tronde_vsftpd_force_local_data_ssl }}
force_local_logins_ssl={{ tronde_vsftpd_force_local_logins_ssl }}
guest_enable={{ tronde_vsftpd_guest_enable }}
hide_ids={{ tronde_vsftpd_hide_ids }}
implicit_ssl={{ tronde_vsftpd_implicit_ssl }}
listen={{ tronde_vsftpd_listen }}
listen_ipv6={{ tronde_vsftpd_listen_ipv6 }}
local_enable={{ tronde_vsftpd_local_enable }}
lock_upload_files={{ tronde_vsftpd_lock_upload_files }}
log_ftp_protocol={{ tronde_vsftpd_log_ftp_protocol }}
ls_recurse_enable={{ tronde_vsftpd_ls_recurse_enable }}
mdtm_write={{ tronde_vsftpd_mdtm_write }}
no_anon_password={{ tronde_vsftpd_no_anon_password }}
no_log_lock={{ tronde_vsftpd_no_log_lock }}
one_process_model={{ tronde_vsftpd_one_process_model }}
passwd_chroot_enable={{ tronde_vsftpd_passwd_chroot_enable }}
pasv_addr_resolve={{ tronde_vsftpd_pasv_addr_resolve }}
pasv_enable={{ tronde_vsftpd_pasv_enable }}
pasv_promiscuous={{ tronde_vsftpd_pasv_promiscuous }}
port_enable={{ tronde_vsftpd_port_enable }}
port_promiscuous={{ tronde_vsftpd_port_promiscuous }}
require_cert={{ tronde_vsftpd_require_cert }}
require_ssl_reuse={{ tronde_vsftpd_require_ssl_reuse }}
run_as_launching_user={{ tronde_vsftpd_run_as_launching_user }}
secure_email_list_enable={{ tronde_vsftpd_secure_email_list_enable }}
session_support={{ tronde_vsftpd_session_support }}
setproctitle_enable={{ tronde_vsftpd_setproctitle_enable }}
ssl_enable={{ tronde_vsftpd_ssl_enable }}
ssl_request_cert={{ tronde_vsftpd_ssl_request_cert }}
ssl_sslv2={{ tronde_vsftpd_ssl_sslv2 }}
ssl_sslv3={{ tronde_vsftpd_ssl_sslv3 }}
ssl_tlsv1={{ tronde_vsftpd_ssl_tlsv1 }}
strict_ssl_read_eof={{ tronde_vsftpd_strict_ssl_read_eof }}
strict_ssl_write_shutdown={{ tronde_vsftpd_strict_ssl_write_shutdown }}
syslog_enable={{ tronde_vsftpd_syslog_enable }}
tcp_wrappers={{ tronde_vsftpd_tcp_wrappers }}
text_userdb_names={{ tronde_vsftpd_text_userdb_names }}
tilde_user_enable={{ tronde_vsftpd_tilde_user_enable }}
use_localtime={{ tronde_vsftpd_use_localtime }}
use_sendfile={{ tronde_vsftpd_use_sendfile }}
userlist_deny={{ tronde_vsftpd_userlist_deny }}
userlist_enable={{ tronde_vsftpd_userlist_enable }}
validate_cert={{ tronde_vsftpd_validate_cert }}
virtual_use_local_privs={{ tronde_vsftpd_virtual_use_local_privs }}
write_enable={{ tronde_vsftpd_write_enable }}
xferlog_enable={{ tronde_vsftpd_xferlog_enable }}
xferlog_std_format={{ tronde_vsftpd_xferlog_std_format }}

# Numeric options
accept_timeout={{ tronde_vsftpd_accept_timeout }}
anon_max_rate={{ tronde_vsftpd_anon_max_rate }}
anon_umask={{ tronde_vsftpd_anon_umask }}
chown_upload_mode={{ tronde_vsftpd_chown_upload_mode }}
connect_timeout={{ tronde_vsftpd_connect_timeout }}
data_connection_timeout={{ tronde_vsftpd_data_connection_timeout }}
delay_failed_login={{ tronde_vsftpd_delay_failed_login }}
delay_successful_login={{ tronde_vsftpd_delay_successful_login }}
file_open_mode={{ tronde_vsftpd_file_open_mode }}
ftp_data_port={{ tronde_vsftpd_ftp_data_port }}
idle_session_timeout={{ tronde_vsftpd_idle_session_timeout }}
listen_port={{ tronde_vsftpd_listen_port }}
local_max_rate={{ tronde_vsftpd_local_max_rate }}
local_umask={{ tronde_vsftpd_local_umask }}
max_clients={{ tronde_vsftpd_max_clients }}
max_login_fails={{ tronde_vsftpd_max_login_fails }}
max_per_ip={{ tronde_vsftpd_max_per_ip }}
pasv_max_port={{ tronde_vsftpd_pasv_max_port }}
pasv_min_port={{ tronde_vsftpd_pasv_min_port }}
trans_chunk_size={{ tronde_vsftpd_trans_chunk_size }}

# String options
anon_root={{ tronde_vsftpd_anon_root }}
banned_email_file={{ tronde_vsftpd_banned_email_file }}
banner_file={{ tronde_vsftpd_banner_file }}
ca_certs_file={{ tronde_vsftpd_ca_certs_file }}
chown_username={{ tronde_vsftpd_chown_username }}
chroot_list_file={{ tronde_vsftpd_chroot_list_file }}
cmds_allowed={{ tronde_vsftpd_cmds_allowed }}
cmds_denied={{ tronde_vsftpd_cmds_denied }}
deny_file={{ tronde_vsftpd_deny_file }}
download_file={{ tronde_vsftpd_download_file }}
dsa_cert_file={{ tronde_vsftpd_dsa_cert_file }}
dsa_private_key_file={{ tronde_vsftpd_dsa_private_key_file }}
email_password_file={{ tronde_vsftpd_email_password_file }}
ftp_username={{ tronde_vsftpd_ftp_username }}
ftpd_banner={{ tronde_vsftpd_ftpd_banner }}
guest_username={{ tronde_vsftpd_guest_username }}
hide_file={{ tronde_vsftpd_hide_file }}
listen_address={{ tronde_vsftpd_listen_address }}
listen_address6={{ tronde_vsftpd_listen_address6 }}
local_root={{ tronde_vsftpd_local_root }}
message_file={{ tronde_vsftpd_message_file }}
nopriv_user={{ tronde_vsftpd_nopriv_user }}
pam_service_name={{ tronde_vsftpd_pam_service_name }}
pasv_address={{ tronde_vsftpd_pasv_address }}
rsa_cert_file={{ tronde_vsftpd_rsa_cert_file }}
rsa_private_key_file={{ tronde_vsftpd_rsa_private_key_file }}
secure_chroot_dir={{ tronde_vsftpd_secure_chroot_dir }}
ssl_ciphers={{ tronde_vsftpd_ssl_ciphers }}
upload_file={{ tronde_vsftpd_upload_file }}
user_config_dir={{ tronde_vsftpd_user_config_dir }}
user_sub_token={{ tronde_vsftpd_user_sub_token }}
userlist_file={{ tronde_vsftpd_userlist_file }}
vsftpd_log_file={{ tronde_vsftpd_vsftpd_log_file }}
xferlog_file={{ tronde_vsftpd_xferlog_file }}
